body {
  text-align: center;
  background-color: rgb(236, 192, 155);
  font-family: "Lobster", cursive;
}
a {
  color: blueviolet;
  padding: 20px;
}
.box {
  padding: 50px;
  margin-left: 80px;
  margin-right: 80px;
}
img {
  margin: 20px;
}
